on:
  - push

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: build
        run: |
          sudo apt update && sudo apt install golang-go make
          make -C go
          make -C python

      - name: test
        run: |
          make -C go test
          make -C python test
